<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body class="bg-light">
<nav class="navbar navbar-dark bg-dark p-0">
    <p class="navbar-brand ml-3 pb-0"
       th:text="${#authentication.getPrincipal().getEmail() + ' with roles: '
        + #strings.replace(#authentication.getPrincipal().getRoles(), 'ROLE_','').replaceAll('[\[\],]','')}">
        Test user info
    </p>
    <p class="navbar-nav mr-3 mb-2">
        <a class="nav-link" href="/logout">Logout</a>
    </p>
</nav>

<div class="container-fluid mt-3 bg-white">
    <div class="row">
        <div class="col-2 vh-100">
            <ul class="nav flex-column nav-pills mx-n3">
                <li class="nav-item ">
                    <a class="nav-link active" href="#">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light px-4">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/users">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">New User</a>
                </li>
            </ul>

            <div class="border bg-white">
                <nav class="navbar bg-light h5 my-0 border-bottom">Add new user</nav>
                <div class="row justify-content-center mt-4 text-center">
                    <div class="col-3">
                        <form th:method="post" th:action="@{/admin/users}" th:object="${user}">
                            <div class="form-group">
                                <label class="font-weight-bold mb-0" for="login">Login</label>
                                <input class="form-control form-control-sm" placeholder="Login" type="text"
                                       th:field="*{login}" id="login">
                                <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold mb-0" for="password">Password</label>
                                <input class="form-control form-control-sm" placeholder="Password" type="password"
                                       th:field="*{password}" id="password">
                                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                    Password Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold mb-0" for="name">Name</label>
                                <input class="form-control form-control-sm" placeholder="Name" type="text"
                                       th:field="*{name}" id="name">
                                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold mb-0" for="surname">Surname</label>
                                <input class="form-control form-control-sm" placeholder="Surname" type="text"
                                       th:field="*{surname}" id="surname">
                                <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">
                                    Surname Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold mb-0" for="age">Age</label>
                                <input class="form-control form-control-sm" placeholder="Age" type="text"
                                       th:field="*{age}" id="age">
                                <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold mb-0" for="email">Email</label>
                                <input class="form-control form-control-sm" placeholder="Email" type="text"
                                       th:field="*{email}" id="email">
                                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold mb-0" for="roles">Role</label>
                                <select class="form-control" multiple name="" id="roles" th:field="*{roles}" size="2">
                                    <option th:each="role : ${allRoles}"
                                            name="roles"
                                            th:value="${role.id} +':'+ ${role.name}"
                                            th:text="${#strings.replace(role.name,'ROLE_','')}">Roles
                                    </option>
                                </select>
                            </div>
                            <div>
                                <input class="btn btn-lg btn-success mb-4" type="submit" value="Add new user"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>