<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark p-0">
    <p class="navbar-brand ml-3 pb-0"
        th:text="${#authentication.getPrincipal().getEmail() + ' with roles: '
        + #strings.replace(#authentication.getPrincipal().getRoles(), 'ROLE_','').replaceAll('[\[\],]','')}">
        Test user info
    </p>
    <p class="navbar-nav mr-3 mb-2">
        <a class="nav-link" href="/logout">Logout</a>
    </p>
</nav>

<table th:border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
        <th>Roles</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getSurname()}">surname</td>
        <td th:text="${user.getAge()}">age</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getRoles()}">roles</td>

        <td><a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">Edit</a></td>
        <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}">Show</a></td>
    </tr>
</table>
<br>
<form th:method="get" th:action="@{/admin/users/new}">
    <input type="submit" value="New User">
</form>
<br>
<form th:method="get" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>